#  /node_modules
#  npm i interstellar-network
#  pip install interstellar-network
#  pipx install interstellar - network
#  npm install interstellar - network
#  !q btcd
#  (HELLO WORLD)
#  npm run star
